body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    display: flex;
    background-color: #6B66EE;
    position: sticky;
    justify-content: space-between;
    top: 0;
}
.brand img{
    width: 160px;
    padding: 1em;
}
.navbar{
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 24px;
}
.nav-item{
    margin-left: 20px;
}
.nav-item a{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}
.search{
    right: 70px;
    position: relative;
    width: fit-content;
    top: 15px;
}
.search-box{
    position: relative;
    width: 300px;
    height: 40px;
    border: 0;
    border-radius: 25px;
    font-size: 20px;
    color: #7a7a7a;
}
.search-icon{
    position: relative;
    top: 5px;
    right: 40px;
}
.switch img{
    margin-right: 15px;
    width: 50px;
    position: relative;
    top: 18px;
}
.container{
    display: flex;
    flex-direction: row;
}
.left-div{
    margin-right: 30px;
    margin-left: 100px;
    margin-top: 100px;
}
.left-div img{

}
.right-div{
    width: 70%;
    margin-right: 100px;
    margin-top: 100px;
}
.right-div textarea{
    border-radius: 20px;
    background-color: #E5D8FF;
    width: 600px;
    height: 450px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
}
.cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.card1{
    background-color: #929DFF;
    border: 2px solid black;
    width: 15%;
    color: white;
    padding-left: 20px;
    border-radius: 8px;
    font-size: 20px;
}
.card2{
    background-color: #734CF2;
    width: 15%;
    border: 2px solid black;
    color: white;
    padding-left: 20px;
    border-radius: 8px;
    font-size: 20px;
}
.card3{
    background-color: #D288FF;
    width: 15%;
    border: 2px solid black;
    color: white;
    padding-left: 20px;
    border-radius: 8px;
    font-size: 20px;
}
.card4{
    background-color: #000000;
    width: 15%;
    color: white;
    padding-left: 20px;
    border-radius: 8px;
    font-size: 20px;
}
.footer{
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 100px;
}
.footer .content{
    width: 100%;
    background-color: #483EFF;
    display: flex;
    margin-bottom: 100px;
}
.content .left{
    display: flex;
    flex-direction: column;
}
.left .card-1{
    width: 200px;
    background-color: #BCE0F6;
    margin-left: 50px;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}
.left .card-2{
    width: 200px;
    background-color: transparent;
    margin-left: 50px;
    margin-bottom: 50px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: white;
    cursor: pointer;
}
.left .card-3{
    width: 200px;
    background-color: transparent;
    margin-left: 50px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: white;
    cursor: pointer;
}
.left{
    margin-top: 50px;
    margin-bottom: 50px;
}
.right{
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 50px;
    border: 0;
    border-radius: 10px;
    width: 750px;
    height: 350px;
    background-color: white;
}
.right h2{
    margin-top: 50px;
    margin-left: 40px;
}
.right p{
    margin-left: 90px;
}
.next{
    position: relative;
    border-radius: 10px;
    background-color: black;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    top: 40px;
    left: 600px;
}
.btn{
    background-color: black;
    color: white;
    font-size: 30px;
    border: 0;
}
.help{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.social{
    position: sticky;
    top: 80px;
    float: right;
    bottom: 190px;
    /* right: 110px; */
}
.social img{
    width: 90px;
}